APP_ENV=local
APP_DEBUG=true
APP_LOCALE=es
FALLBACK_LOCALE=es


APP_NAME=BooksAPI
APP_URL=http://localhost:8080


DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=books
DB_USERNAME=books
DB_PASSWORD=secret
DB_TIMEZONE=Europe/Madrid
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_general_ci


REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TTL_SECONDS=86400


JWT_SECRET=change-me-super-secret
JWT_TTL_SECONDS=3600
JWT_REFRESH_TTL_SECONDS=1209600


# Borrado: soft|hard
DELETE_MODE=soft


# Covers
STORE_COVER_FILES=false
COVERS_PATH=storage/covers


# API externa
EXTERNAL_PROVIDER=openlibrary
EXTERNAL_TIMEOUT_SECONDS=5
EXTERNAL_RATE_LIMIT_PER_SECOND=5


# Listados API
PAGINATION_PER_PAGE=20
DEFAULT_SORT=titulo
DEFAULT_DIRECTION=asc